*************************** 1. row ***************************
       Table: changelog
Create Table: CREATE TABLE `changelog` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `version` varchar(20) NOT NULL,
  `title` varchar(200) NOT NULL,
  `content` text,
  `type` varchar(20) DEFAULT 'update',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci
