*************************** 1. row ***************************
       Table: about_us
Create Table: CREATE TABLE `about_us` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content` longtext,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci
