*************************** 1. row ***************************
       Table: feedback
Create Table: CREATE TABLE `feedback` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` bigint DEFAULT NULL,
  `content` text NOT NULL,
  `contact` varchar(100) DEFAULT NULL,
  `images` varchar(1000) DEFAULT NULL,
  `status` tinyint(1) DEFAULT '0',
  `reply` text,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci
